html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Josefin Slab', serif;
}
nav {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
hr {
  margin: 25px auto;
}
header {
  position: relative;
}
header:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/logo.png');
  background-repeat: no-repeat;
  -webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
  background-position: center;
  opacity: .5;
  z-index: -1;
}
header .header-content {
  position: relative;
  text-align: center;
  width: 100%;
}

@media (min-width: 400px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .responsive-fill {
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
}

.icon {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 25px;
}
.pressure-wash {
  background: url("./assets/pressure_wash_icon.png");
}
.repair {
  background: url("./assets/repair_icon.png");
}
.sweeping {
  background: url("./assets/sweeping_icon.png");
  width: 147px;
}
.scrubbing {
  background: url("./assets/scrubbing_icon.png");
  width: 119px;
}
.phone {
  background: url("./assets/phone_icon.png");
}
.email {
  background: url("./assets/email_icon.png");
}

.service p {
  margin: 0 25px 0 25px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
}

.btn {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-top: 50px;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fill {
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: inline-block;
}
