html,
body {
  height: 100%;
  width: 100%;
  padding-top: 70px;
}
body {
  font-family: 'Josefin Slab', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
